.merge-input {
    border: 0;
}

.merge-input:focus {
    outline: none;
    border: none;
}

.merge-outline {
    border: 2px solid;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.merge-outline:focus-within {
    outline: none;
    /*Removesthedefaultoutline*/border: 2px solid #007BFF;
    /*Addsa2pxsolidborderwithacustomcolor*/box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /*Addsasubtleboxshadow*/transition: border-color 0.3s ease, box-shadow 0.3s ease;
     /* Smooth transition effects */;
    -webkit-transition: border-color 0.3s ease, box-shadow 0.3s ease;
    -moz-transition: border-color 0.3s ease, box-shadow 0.3s ease;
    -ms-transition: border-color 0.3s ease, box-shadow 0.3s ease;
    -o-transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.options-inputs {
    width: 50px;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.pets-allowed-switch {
    margin-left: 8px;
}

/* Chrome, Safari, Edge, Opera */
input.dropdown-input[type=number]::-webkit-inner-spin-button,
input.dropdown-input[type=number]::-webkit-outer-spin-button { 
    display: block !important; /* Force display */ 
    opacity: 1; /* Ensure visibility */ 
    -webkit-appearance: inner-spin-button; 
    appearance: inner-spin-button;
}

/* Firefox */
input.dropdown-input[type=number] {
  -moz-appearance: textfield;
}